---
# Main playbook for site-wide configuration
- name: Configure all production servers
  hosts: production
  become: yes
  serial: "{{ serial_count | default(10) }}"
  
  pre_tasks:
    - name: Update apt cache (Debian/Ubuntu)
      apt:
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_os_family == "Debian"
      tags: always

    - name: Update yum cache (RHEL/CentOS)
      yum:
        name: "*"
        state: latest
      when: ansible_os_family == "RedHat"
      tags: always

  roles:
    - common
    - security
    - monitoring

- name: Configure web servers
  hosts: webservers
  become: yes
  roles:
    - webserver

- name: Configure database servers
  hosts: dbservers
  become: yes
  roles:
    - database

- name: Configure application servers
  hosts: appservers
  become: yes
  roles:
    - application

